.App {
  text-align: center;
  color: #333;
}

.listWrapper {
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto;
  max-width: 300px;
  box-shadow: 0 8px 20px -3px darkcyan;
  background-color: darkcyan;
}

.itemWrapper {
  box-shadow: 0 8px 20px -3px rgb(0, 105, 105);
  border-radius: 5px;
  margin: 5px 0;
}

.item {
  box-sizing: content-box;
  padding: 1px;
  border-radius: 5px;
  background-color: white;
  
}

.status {
  font-size: 50px;
}
